*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(11.jpg);
    background-size: cover;
    background-position: center;

}
form{
    width: 30rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 0 6px 32px 0;
    border-radius: 30px;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;

}
h1{
    
    text-align: center;
    color:white;
    text-shadow: 2px 2px 2px ;
    letter-spacing: 3px;
    margin-top: 3%;
    opacity:0.6 ;
}
label{
    margin-left: 10%;
    opacity: .6;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;

    border: none;
    outline: none;
    background: transparent;
    color:white;
    border-bottom: 1px solid white;
    opacity: 0.4;
}
label{
    color: white;
}
button{
    width: 50%;
    margin: 3% auto;
    color: red;
    font-size: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;

}
a{
    font-size: 15px;
    text-align: center;
    color: white;
}